* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  user-select: none;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}

.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  height: 100%;
  width: 100%;
  max-width: 100%;
  background-color: rgb(179, 171, 217);
  padding: 1.5em;

}

.appContainer > section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5em;
  align-items: center;
  width: 100%;
}

.badgeSection > .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}

.squareBadges,
.pillBadges
{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  gap: 0.75em;
}

.bannerSection .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2em;
}

.singleLineBanners {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  justify-content: space-evenly;
  width: 50%;
}

.multiLineBanners {
  display: flex;
  flex-direction: column;
  gap: 1em
}

.testimonial {
  background-color: white;
  padding: 1.5em;
}

.testimonial > .wrapper {
  background-color: #2545B8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 270px;
  padding: 1em;
  gap: 1.5em;
}

.testimonialImg {
  max-height: 90%; 
  width: auto; 
  display: block;
  object-fit: contain; 
}

.testimonial .testimonialText {
  color: white;
  font-size: 1.3rem;
}

.testimonial .testimonialName {
  color: ghostwhite;
  font-size: 1.15rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4.5em;
}