* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  height: 100%;
  width: 100%;
  max-width: 100%;
  background-color: rgb(179, 171, 217);
  padding: 2em;
}

.appContainer > section {
  display: flex;
  justify-content: center;
  gap: 1.5em;
}